#cloud-config
fqdn: {{ name }}
manage_etc_hosts: false
manage_resolv_conf: false

runcmd:
{%- for cmd in run_cmds %}
  - {{ cmd }}
{%- endfor %}
  - sh -c "if [ -f /etc/cloud/runcmd.sh ]; then /etc/cloud/runcmd.sh; fi"

{%- if groups | length == 0 %}
groups:
{%- for group in groups %}
  - {{ group }}
{%- endfor %}
{%- endif %}

users:
{%- for name,user in users.items() %}
  - name: "{{ name }}"
    {%- if 'gecos' in user %}
    gecos: "{{ user.get('gecos') }}"
    {%- endif %}
    {%- if 'uid' in user %}
    uid: {{ user.get('uid') }}
    {%- endif %}
    primary_group: "{{ user.get('primary_group') }}"
    {%- if 'sudo' in user and user.get('sudo') %}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    {%- endif %}
    {%- if 'groups' in user and user.get('groups') | length > 0 %}
    groups:
    {%- for group in user.get('groups') %}
      - {{ group }}
    {%- endfor %}
    {%- endif %}
    {%- if 'shell' in user %}
    shell: {{ user.get('shell') }}
    {%- else %}
    shell: /bin/bash
    {%- endif %}
    {%- if 'ssh_keys' in user and user.get('ssh_keys') | length > 0 %}
    ssh_authorized_keys:
    {%- for key in user.get('ssh_keys') %}
      - {{ key }}
    {%- endfor %}
    {%- endif %}
    {%- if 'passwd' in user %}
    lock_passwd: false
    passwd: {{ user.get('passwd') }}
    {%- endif %}
{%- endfor %}

disable_root: true

ssh_pwauth: false

{%- if root_hash is not none %}
chpasswd:
  expire: false
  list:
    - root:{{ root_pass }}
{%- endif %}

